h1 {
  text-align: center;
  color: #cc0066;
  font-size: 3rem;
}

.body {
  background-color: #df8543;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.container-fluid {
  padding: 25px 70px 75px 100px;
}

.col-lg-3 {
  border: 1px solid black;
  padding: 15px 90px;
  /*margin:auto;*/
  margin: 10px 450px;

}

.checkans {
  font-size: 2rem;
}
